<div class="container">
    <h1>{{ btnTitulo }}</h1>
  
    <form *ngIf="formularioEmpresa" [formGroup]="formularioEmpresa" (ngSubmit)="submit()">
  
      <!-- Campo: Nome -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput id="nome" formControlName="nome" placeholder="Digite a nome" required>
      </mat-form-field>
  
      <!-- Campo: Endereço -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Endereço</mat-label>
        <input matInput id="endereco" formControlName="endereco" placeholder="Digite o endereço" required>
      </mat-form-field>
  
      <!-- Botões -->
      <div class="action-buttons">
        <button mat-raised-button color="primary" type="submit">{{ btnAcao }}</button>
        <!-- <button mat-raised-button color="accent" type="button" routerLink="">Voltar</button> -->
      </div>
      
    </form>
  </div>
  